<!-- <ion-content [fullscreen]="true" class="offset-bottom">

  <ion-list lines="none">

    <ion-item (tap)="checkForUpdate()">
      <ion-icon name="paper-plane" slot="start"></ion-icon>
      <ion-label>
        <h3>Update</h3>
        <p>Check for app update</p>
      </ion-label>
    </ion-item>

    <ion-item (tap)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>
        <h3>Logout</h3>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content> -->