<div class="tables">
    <h2>Customer Details</h2>
    <ion-card>
        <ion-row class="header">
            <ion-col size="1.5">
                Customer Id
            </ion-col>
            <ion-col size="1.5">
                Customer Name
            </ion-col>
            <ion-col size="1.5">
                Guarantee
            </ion-col>
            <ion-col size="1.5">
                Address
            </ion-col>
            <ion-col size="1.5">
                Mobile No
            </ion-col>
            <ion-col size="1">
                Attachments
            </ion-col>
            <ion-col size="1.5">
                Created By
            </ion-col>
            <ion-col size="1">
                Referred By
            </ion-col>
            <ion-col size="1">
                IsActive
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card>
        <ion-row class="header">
            <ion-col size="1.5">
                1
            </ion-col>
            <ion-col size="1.5">
              Sam
            </ion-col>
            <ion-col size="1.5">
                Flin
            </ion-col>
            <ion-col size="1.5">
                Chennai
            </ion-col>
            <ion-col size="1.5">
                9997988999
            </ion-col>
            <ion-col size="1">
                file@
            </ion-col>
            <ion-col size="1.5">
                Geetha
            </ion-col>
            <ion-col size="1">
                Geetha
            </ion-col>
            <ion-col size="1">
                True
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-card>
        <ion-row class="header">
            <ion-col size="1.5">
                2
            </ion-col>
            <ion-col size="1.5">
              Sam
            </ion-col>
            <ion-col size="1.5">
                Flin
            </ion-col>
            <ion-col size="1.5">
                Chennai
            </ion-col>
            <ion-col size="1.5">
                9997988999
            </ion-col>
            <ion-col size="1">
                file@
            </ion-col>
            <ion-col size="1.5">
                Geetha
            </ion-col>
            <ion-col size="1">
                Geetha
            </ion-col>
            <ion-col size="1">
                True
            </ion-col>
        </ion-row>
    </ion-card>
</div>