
<div class="tables">
  <h2>Product Details</h2>  
  <ion-card>
    <ion-row class="header">
      <ion-col size="1.5">
        Product Id
      </ion-col>
      <ion-col size="1.5">
        Product Name
      </ion-col>
      <ion-col size="1.5">
        Product Type
      </ion-col>
      <ion-col size="1.5">
        Tenure
      </ion-col>
      <ion-col size="1.5">
        No of Customer
      </ion-col>
      <ion-col size="1">
        Created By
      </ion-col>
      <ion-col size="1.5">
        Date
      </ion-col>
      <ion-col size="1">
        IsActive
      </ion-col>
      <ion-col size="1">
        Collection
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row class="header">
      <ion-col size="1.5">
        1
      </ion-col>
      <ion-col size="1.5">
        Ac
      </ion-col>
      <ion-col size="1.5">
       Chit
      </ion-col>
      <ion-col size="1.5">
        5Months
      </ion-col>
      <ion-col size="1.5">
        25
      </ion-col>
      <ion-col size="1">
        Geetha
      </ion-col>
      <ion-col size="1.5">
        06-02-2022
      </ion-col>
      <ion-col size="1">
        true
      </ion-col>
      <ion-col size="1">
        Geetha
      </ion-col>
    </ion-row>
  </ion-card>
</div>





