<ion-content [fullscreen]="true">
  <div class='login-card ion-padding'>
    <ion-text style="color: #000;" color="dark">
      <h1>Welcome </h1>
      <h4>Login to continue,</h4>
    </ion-text>
    <form [formGroup]="loginForm">
      <ion-item lines="none" style="margin-top: 3rem;">
        <ion-label position="floating">Enter Username</ion-label>
        <ion-input formControlName="username" required type='text' placeholder='Username'></ion-input>
      </ion-item>
      <ion-item lines="none" class="ion-margin-top">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" placeholder='Password'></ion-input>
      </ion-item>
      <div style="margin-top: 3rem;">
        <ion-button (click)="doLogin()" shape="round" expand="block" type="submit">Login</ion-button>
      </div>
    </form>
  </div>
</ion-content>