.login-card {
  width: 100%;
  margin: auto;
  top: 20%;
  overflow: hidden;
  position: relative;

  ion-input {
    padding: 0px 0 10px 13px !important;
  }
}
ion-content {
  --background: url(../../../assets/images/bg4.jpg) no-repeat fixed center;
  background-size: 100%;
  position: relative;
}
ion-label {
  margin-top: -5px !important;
  padding-left: 13px;
  color: 030A27;
}
.item-has-focus {
  ion-label {
    margin-top: 3px;
  }
}
ion-item {
  --border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
  border-radius: 29px;
  background: #fff;
}
ion-button {
  height: 50px;
  --background: #fc6b68;
}
ion-text {
  margin-bottom: 20px !important;
  overflow: hidden !important;
  text-align: center;
  padding-left: 5px;
}
h1 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 7px;
  color: #fff;
}
h4 {
  margin-top: 0;
  letter-spacing: 1px;
  color: #fff;
}
@media (min-width: 500px) {
  .login-card {
    width: 500px;
  }
  ion-text {
      text-align: center;
  }
}

